.navbar{
    background-color: rgb(208, 135, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodypart{
    display: flex;
}

.button{
    height: 100px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
#btn1{
    height: 30px;
    width: 200px;
    margin-right: 23px;
    border-radius: 5px;
}
#btn2{
    height: 30px;
    width: 200px;
    margin-left: 23px;
    border-radius: 5px;
}
.footer{
    height: 300px;
    background-color: cadetblue;
    display: grid;
    justify-content: center;
}